@charset "utf-8";
*{
	font-size:14px;
}
/*--------用户登录--------*/
.d_center{
	width:260px; 
	height:160px; 
	left:50%; 
	margin:-120px 0 0 -200px; 
	position:absolute; 
	top:50%;
	border:1px solid #ccc;
	padding:10px;
}
	#login_form form{
		margin:0px;
	}

/*--------顶部内容---------*/
#top{
	padding:10px 0 0 20px;
	border-bottom:1px solid #ccc;
}
#top h1{
	font-size:18px;
}
#menu ul{
	float:left;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	margin-top:10px;
	margin-left:160px;
}
	#menu li{
		float:left;
		border-right:1px solid #ccc;
		padding:5px 10px;
		
	}


/*--------第一边栏内容---------*/
#first_side{
	padding:10px;
}

	#first_side #cate_tree{
		margin:10px 0;
		border:1px solid #ccc;
		padding-bottom:2px;
	}
	#first_side h3{
		padding:5px;
		border-bottom:1px solid #ccc;
	}
	#first_side #cate_tree li{
		padding:2px 0 0 0;
	}
	#first_side #cate_tree li a{
		height:18px;
		width:24px;
		display:block;
		float:left;
		background:url(../images/folder.gif) no-repeat 4px 3px;
	}
	#first_side #cate_tree li span{
		font-size:12px;
		
	}
	#first_side #cate_tree ul ul{
		margin-left:16px;
	}
	#first_side #cate_tree li a.close{
		background-image:url(../images/folder.gif);
	}
	#first_side #cate_tree li a.open{
		background-image:url(../images/folder-open.gif);
	}
	#first_side #cate_tree li a.leaf{
		background-image:url(../images/leaf.gif);
	}

/*-----------------------------------------主要内容down---------*/
#content{
	padding:20px;
	border-left:1px solid #ccc;
}

/*--------主要内容中的表格---------*/
	#content table.list{
		border-collapse:collapse;
		width:100%;
	}
        #content .list_path{
            padding-bottom: 5px;
        }
        #content .list_path .list_add{
            float:right;
        }
	#content table.list td,#content table.list th{
		border:1px solid #ccc;
		padding:5px 10px;
	}
	#content table.list td{
		text-align:center;
	}
	#content table.list a.dd{
		display:block;
		width:15px;
		height:17px;
		background:url(../images/draggable.png) no-repeat left -16px;
		float:left;
		margin-right:4px;
	}
	#content table.list td.list_title{
		padding-right:50px;
		text-align:left;
	}
	#content table.list span.page{
		float:right;
	}
	#content table.list span.table_action{
		float:left;
	}

/*--------主要内容中的表格之分类---------*/

#cate_list .cate_name_input{
    width:80px;
    padding:2px;
    border: 1px solid #ccc;
}
#cate_list .cate_a_sure{
    padding-left: 5px;
}


/*--------主要内容中的表格之分类---------*/

/*--------主要内容中的表格---------*/


/*--------主要内容中的表单---------*/

#content .form_main{
	border:1px solid #ccc;
	padding:10px;
}
	#content .form_main h3{
		padding-bottom:10px;
	}
	
	#content .form_main .msg{
		display:inline;
		border:1px solid #ccc;
		font-weight:normal;
		color:#F30;
		padding:2px 50px 2px 10px;;
		margin-left:20px;
	}
	
	#content .form_main p{
		padding:4px;
	}
	#content .form_main label{
		width:80px;
		float:left;
		text-align:right;
	}
	#content .form_main .label_p_left{
		float:none;
		margin-left:4px;
	}
	#content .form_main input.c_box{
		position:relative;
		top:2px;
	}
	
	#content .form_main .p_bottom{
		text-align:center;
	}
        #content #account_form .p_bottom{
            margin-top: 10px;
        }
	#content .form_main .btn_main{
		width:60px;
		margin:0 5px;
	}
	#content .form_main #attach_list{
		margin-left:84px;
		margin-top:-4px;
	}
	#content .form_main #attach_list li{
		margin:2px 0;
	}
	

/*--------主要内容中的表单---------*/

/*-----------------------------------------主要内容up---------*

/*--------页脚内容---------*/
#footer{
	border-top:1px solid #ccc;
	padding:10px;
}
	#footer p{
		color:#999;
		text-align:right;
	}
	
















